﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";
}


	
<div class="row">
    <div class="col-lg-12">
		<h1 class="well"> @Umbraco.Field("homePageTitle") </h1>
	    @Umbraco.Field("bodyPageText") 
        
	</div>
</div>