﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
	<link href="~/css/master.css" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
	
<title>@Umbraco.Field("pageName")</title>
</head>
<body>

	 <!-- navigation -->
  <div class="container main-container">
    @{ Html.RenderPartial("_menu-nav-bar");} 
  </div>
  <!-- end navigation -->
	
	 

<div class="container main-container">
    <div class="row">
      <div class="col-lg-8">
        @RenderBody()
      </div>
      <div class="col-lg-4">
        <!-- Side Widget Well -->
		  <div class="row">
			  <h4 class="well">Side Widget Well</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur 
				adipisicing elit. Inventore, perspiciatis adipisci accusamus 
				laudantium odit aliquam repellat tempore quos aspernatur vero.
			  </p>    
          </div>
		  
			
		  
      </div>
    </div>
    
</div>  

<hr>				

<div class="container main-container">
    <div class="row">
        <div class="col-lg-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo.
		</div>
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo.
                </a>
                <a href="#" class="list-group-item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem.
                </a>
                <a href="#" class="list-group-item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis?
                </a>
            </div>
        </div>
        <div class="col-lg-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo.
		</div>
 </div>
</div>
 
			

  <!-- Footer -->	
  <div class="container main-container">
    	<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						
						<p class="copyright text-muted">Franz site 2015</p>
					</div>
				</div>
			</div>
		</footer>
  </div>
   
    	  
	  
  
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
</body>
</html>