﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    
	    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Umbraco.Field("pageName") </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					
                    
					@foreach (var item in selection)
					{
						 <li>
							 <a href="@item.Url">@item.Name</a>
						 </li>
					}
						
                   
                </ul>
            </div>
        </div>
    </nav>
	
	
	
}



